<h1>Merchant Discounts</h1>
<% @discounts.each_with_index do |discount, index| %>
  <div id="discount-<%= index %>">
    <%= link_to "Discount #{(index + 1)}", "/merchants/#{@merchant_id}/discounts/#{discount.id}" %>: <%=discount.percentage%>%
    <%= link_to "Delete Discount #{(index + 1)}", "/merchants/#{@merchant_id}/discounts/#{discount.id}", method: :delete%><br>
    Quantity Threshold: <%= discount.quantity %><br>
  </div>
<% end %>
<%= link_to "Create New Discount", "/merchants/#{@merchant_id}/discounts/new" %>
<h3>Upcoming Holidays</h3>
<% @holidays.each do |holiday| %>
  <%= holiday.name %> on <%= holiday.date %><br>
<% end %>